flow_pedro_galera_iot.json
[
    {
        "id": "6f0f52b62244d1d5",
        "type": "tab",
        "label": "Tarea 7 - Control de Luces",
        "disabled": false,
        "info": "Flujo MCP → Node-RED → MQTT para control de LEDs ESP32"
    },
    {
        "id": "18cdfc54a646bd61",
        "type": "http in",
        "z": "6f0f52b62244d1d5",
        "name": "🌐 POST /luz",
        "url": "/luz",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "13ef5a352cf896bf",
                "fbbf9c8ee8459316",
                "4315292f54b9a813"
            ]
        ]
    },
    {
        "id": "13ef5a352cf896bf",
        "type": "debug",
        "z": "6f0f52b62244d1d5",
        "name": "🔵 DEBUG 1 — payload recibido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.mensaje",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "fbbf9c8ee8459316",
        "type": "debug",
        "z": "6f0f52b62244d1d5",
        "name": "📦 DEBUG 2 — mensaje completo (headers+body)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "4315292f54b9a813",
        "type": "function",
        "z": "6f0f52b62244d1d5",
        "name": "⚙️ Procesar y preparar mensajes",
        "func": "// ─── Extraer el campo 'mensaje' del body JSON ───────────────────────────\nconst body = msg.payload;\nconst mensaje = (typeof body === 'object' && body !== null)\n    ? body.mensaje\n    : String(body);\n\nconst coloresValidos = ['encender_roja', 'encender_verde', 'encender_amarilla', 'reproducir_musica'];\n\n// ─── Validación ─────────────────────────────────────────────────────────────\nif (!mensaje || !coloresValidos.includes(mensaje)) {\n    node.warn(' Mensaje no válido: ' + mensaje);\n    msg.statusCode = 400;\n    msg.headers    = { 'content-type': 'application/json' };\n    msg.payload    = JSON.stringify({ error: 'Mensaje no válido', recibido: mensaje, validos: coloresValidos });\n    return [null, msg];  // → Salida 2: error HTTP\n}\n\nnode.log('✅ Procesando: ' + mensaje);\n\n// ─── Salida 1: Mensaje MQTT ──────────────────────────────────────────────────\n// (objeto nuevo, sin contexto HTTP)\nconst mqttMsg = {\n    topic:   'iot-luz-pedro-gf-2026',\n    payload: mensaje,\n    qos:     0,\n    retain:  false\n};\n\n// ─── Preparar respuesta HTTP 200 (modificamos msg original para preservar req/res) ──\nmsg.statusCode = 200;\nmsg.headers    = { 'content-type': 'application/json' };\nmsg.payload    = JSON.stringify({\n    ok:        true,\n    mensaje:   mensaje,\n    topic:     'iot-luz-pedro-gf-2026',\n    broker:    'test.mosquitto.org:1883',\n    timestamp: new Date().toISOString()\n});\n\nreturn [mqttMsg, msg];  // → Salida 1: MQTT | Salida 2: HTTP OK",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "574234eebd6243ba",
                "9265401f020ea822"
            ],
            [
                "f01f0cb3f8e91400",
                "40d288316172ceb4"
            ]
        ]
    },
    {
        "id": "574234eebd6243ba",
        "type": "debug",
        "z": "6f0f52b62244d1d5",
        "name": "📡 DEBUG 3 — mensaje MQTT a publicar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "9265401f020ea822",
        "type": "mqtt out",
        "z": "6f0f52b62244d1d5",
        "name": "📤 MQTT OUT — test.mosquitto.org",
        "topic": "iot-luz-pedro-gf-2026",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_cfg",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "f01f0cb3f8e91400",
        "type": "debug",
        "z": "6f0f52b62244d1d5",
        "name": "✅ DEBUG 4 — respuesta HTTP enviada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "40d288316172ceb4",
        "type": "http response",
        "z": "6f0f52b62244d1d5",
        "name": "🟢 HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "a6febc86c2fe6f94",
        "type": "mqtt in",
        "z": "6f0f52b62244d1d5",
        "name": "📨 MQTT IN — Monitor iot-luz-pedro-gf-2026",
        "topic": "iot-luz-pedro-gf-2026",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "93dbb74b98d4a9e5"
            ]
        ]
    },
    {
        "id": "93dbb74b98d4a9e5",
        "type": "debug",
        "z": "6f0f52b62244d1d5",
        "name": "🔍 DEBUG 5 — MONITOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "mqtt_broker_cfg",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "node-red-tarea7",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]